_ngo/
_xmsgs/
ipcore_dir/
iseconfig/
openmsp430_xdb/
planAhead*/
xlnx*/
xst/

*openmsp430-original*

*.bgn
*.bit
*.bld
*.cfi
*.cmd_log
*.cpj
*.csv
*.drc
*.gise
*.html
*.log
*.lso
*.map
*.mcs
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.pcj
*.prj
*.prm
*.ptwx
*.pwr
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xdl
*.xml
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt
*.zip
