_ngo/
_xmsgs/
ipcore_dir/
iseconfig/
openMSP430_fpga.bgn
openMSP430_fpga.bit
openMSP430_fpga.bld
openMSP430_fpga.cmd_log
openMSP430_fpga.drc
openMSP430_fpga.lso
openMSP430_fpga.ncd
openMSP430_fpga.ngc
openMSP430_fpga.ngd
openMSP430_fpga.ngr
openMSP430_fpga.pad
openMSP430_fpga.par
openMSP430_fpga.pcf
openMSP430_fpga.prj
openMSP430_fpga.ptwx
openMSP430_fpga.stx
openMSP430_fpga.syr
openMSP430_fpga.twr
openMSP430_fpga.twx
openMSP430_fpga.unroutes
openMSP430_fpga.ut
openMSP430_fpga.xpi
openMSP430_fpga.xst
openMSP430_fpga_bitgen.xwbt
openMSP430_fpga_envsettings.html
openMSP430_fpga_flash.bit
openMSP430_fpga_guide.ncd
openMSP430_fpga_map.map
openMSP430_fpga_map.mrp
openMSP430_fpga_map.ncd
openMSP430_fpga_map.ngm
openMSP430_fpga_map.xrpt
openMSP430_fpga_ngdbuild.xrpt
openMSP430_fpga_pad.csv
openMSP430_fpga_pad.txt
openMSP430_fpga_par.xrpt
openMSP430_fpga_summary.html
openMSP430_fpga_summary.xml
openMSP430_fpga_usage.xml
openMSP430_fpga_xst.xrpt
openmsp430.gise
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
